In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd "/content/drive/MyDrive/END/"

/content/drive/MyDrive/END

In [ ]:
!ls

cornell_movie_dialogs_corpus.zip  english_python_data.txt  TexttoPython.csv

In [ ]:
fp = open('english_python_data.txt', 'r' )
lines = fp.readlines()
len(lines)

42473

In [ ]:
print(lines[4:12])

["print(f'Sum: {sum}')\n", '\n', '\n', '# write a python function to add two user provided numbers and return the sum\n', 'def add_two_numbers(num1, num2):\n', '    sum = num1 + num2\n', '    return sum\n', '\n']

In [ ]:
#Removing empty lines
lines = [ l for l in lines if len(l)>1]
len(lines)

32994

In [ ]:
print(lines[4:12])

["print(f'Sum: {sum}')\n", '# write a python function to add two user provided numbers and return the sum\n', 'def add_two_numbers(num1, num2):\n', '    sum = num1 + num2\n', '    return sum\n', '# write a program to find and print the largest among three numbers\n', 'num1 = 10\n', 'num2 = 12\n']

In [ ]:
data = [['text', 'sourcecode']]
textlines = []
k=0
# Captured the line numbers of the text
for i in range(len(lines)):
  
  if lines[i].startswith('#') and len(lines[i])>25 and i!=(k+1):
    textlines.append(i)
    k=i
print(textlines)

[0, 5, 9, 20, 31, 34, 46, 52, 63, 71, 75, 81, 86, 96, 99, 103, 109, 112, 115, 119, 123, 127, 130, 134, 145, 148, 156, 168, 172, 175, 178, 181, 184, 188, 197, 201, 207, 212, 217, 221, 227, 236, 246, 251, 254, 256, 258, 260, 262, 264, 269, 275, 277, 286, 300, 307, 313, 315, 317, 319, 324, 327, 332, 341, 346, 349, 352, 358, 363, 370, 379, 384, 389, 395, 398, 404, 407, 410, 414, 420, 422, 432, 442, 445, 449, 452, 455, 459, 464, 468, 476, 482, 486, 492, 496, 498, 508, 513, 517, 525, 533, 541, 557, 569, 572, 576, 580, 583, 586, 591, 596, 599, 602, 607, 610, 613, 623, 627, 631, 635, 638, 642, 645, 648, 654, 657, 659, 661, 663, 665, 669, 671, 673, 675, 677, 679, 681, 683, 685, 687, 690, 693, 696, 701, 708, 712, 715, 717, 722, 726, 728, 730, 734, 737, 740, 746, 750, 755, 761, 765, 769, 773, 776, 780, 787, 790, 796, 802, 806, 810, 813, 816, 819, 824, 827, 837, 840, 854, 857, 860, 863, 882, 886, 889, 891, 895, 899, 902, 909, 917, 923, 927, 930, 940, 945, 951, 958, 989, 995, 1004, 1014, 1020, 1026, 1029, 1032, 1038, 1044, 1050, 1057, 1065, 1068, 1071, 1074, 1077, 1081, 1085, 1088, 1091, 1094, 1097, 1100, 1104, 1108, 1112, 1115, 1118, 1122, 1126, 1130, 1134, 1138, 1142, 1146, 1150, 1153, 1156, 1159, 1162, 1165, 1169, 1172, 1175, 1179, 1182, 1185, 1188, 1191, 1194, 1197, 1201, 1205, 1209, 1212, 1215, 1218, 1221, 1224, 1227, 1231, 1234, 1238, 1242, 1245, 1252, 1266, 1282, 1288, 1299, 1310, 1317, 1325, 1334, 1352, 1372, 1390, 1405, 1416, 1423, 1434, 1443, 1446, 1464, 1473, 1476, 1479, 1486, 1494, 1498, 1502, 1506, 1519, 1521, 1528, 1532, 1536, 1540, 1552, 1556, 1561, 1564, 1571, 1575, 1578, 1582, 1588, 1594, 1600, 1614, 1620, 1627, 1644, 1649, 1658, 1663, 1669, 1676, 1683, 1690, 1697, 1704, 1711, 1718, 1723, 1728, 1735, 1738, 1741, 1747, 1753, 1756, 1760, 1763, 1769, 1772, 1775, 1778, 1781, 1784, 1787, 1790, 1793, 1796, 1799, 1802, 1805, 1814, 1818, 1822, 1826, 1830, 1834, 1838, 1842, 1846, 1850, 1853, 1857, 1861, 1865, 1876, 1879, 1882, 1885, 1888, 1891, 1894, 1898, 1901, 1904, 1907, 1910, 1913, 1916, 1919, 1922, 1925, 1928, 1931, 1934, 1940, 1944, 1948, 1954, 1960, 1965, 1974, 1979, 1985, 1996, 2012, 2021, 2029, 2039, 2049, 2056, 2064, 2070, 2094, 2122, 2135, 2146, 2155, 2165, 2180, 2195, 2215, 2229, 2243, 2260, 2270, 2288, 2296, 2307, 2319, 2335, 2342, 2357, 2376, 2392, 2414, 2423, 2433, 2438, 2442, 2448, 2461, 2476, 2488, 2500, 2502, 2506, 2527, 2542, 2556, 2568, 2585, 2599, 2605, 2608, 2645, 2653, 2661, 2681, 2706, 2734, 2749, 2760, 2777, 2785, 2793, 2799, 2804, 2808, 2814, 2818, 2825, 2832, 2839, 2844, 2849, 2854, 2861, 2868, 2878, 2884, 2890, 2902, 2907, 2925, 2929, 2943, 2954, 2982, 2987, 2994, 2998, 3008, 3013, 3022, 3053, 3074, 3081, 3093, 3105, 3114, 3172, 3221, 3250, 3286, 3303, 3327, 3350, 3366, 3380, 3395, 3434, 3465, 3506, 3530, 3566, 3603, 3615, 3643, 3673, 3698, 3709, 3718, 3727, 3739, 3747, 3758, 3766, 3779, 3785, 3796, 3805, 3816, 3822, 3826, 3830, 3846, 3852, 3865, 3871, 3880, 3888, 3895, 3902, 3905, 3911, 3918, 3921, 3926, 3932, 3935, 3942, 3959, 3967, 3978, 3986, 3994, 3999, 4003, 4008, 4016, 4026, 4036, 4055, 4063, 4093, 4099, 4114, 4120, 4128, 4143, 4153, 4170, 4184, 4194, 4201, 4216, 4224, 4235, 4242, 4253, 4262, 4267, 4275, 4288, 4297, 4321, 4330, 4339, 4348, 4356, 4359, 4369, 4379, 4382, 4385, 4390, 4393, 4397, 4408, 4414, 4420, 4433, 4443, 4450, 4454, 4461, 4466, 4471, 4474, 4480, 4486, 4490, 4502, 4513, 4525, 4537, 4540, 4544, 4547, 4562, 4568, 4576, 4584, 4587, 4591, 4595, 4608, 4626, 4685, 4689, 4693, 4699, 4706, 4717, 4720, 4724, 4731, 4737, 4741, 4745, 4758, 4767, 4772, 4782, 4791, 4794, 4797, 4800, 4803, 4807, 4816, 4824, 4833, 4840, 4848, 4855, 4864, 4868, 4871, 4879, 4893, 4899, 4904, 4910, 4913, 4925, 4931, 4942, 4957, 4972, 4977, 4980, 4992, 5004, 5021, 5049, 5077, 5093, 5102, 5107, 5110, 5136, 5143, 5148, 5155, 5160, 5165, 5185, 5193, 5200, 5205, 5210, 5214, 5218, 5223, 5229, 5247, 5261, 5265, 5270, 5275, 5280, 5294, 5302, 5307, 5329, 5340, 5351, 5358, 5366, 5369, 5374, 5380, 5386, 5394, 5397, 5400, 5403, 5408, 5421, 5430, 5493, 5517, 5532, 5544, 5548, 5585, 5599, 5605, 5612, 5616, 5627, 5638, 5650, 5655, 5666, 5673, 5687, 5694, 5699, 5704, 5710, 5717, 5721, 5725, 5734, 5738, 5742, 5746, 5749, 5756, 5760, 5775, 5781, 5787, 5795, 5798, 5810, 5822, 5827, 5835, 5845, 5857, 5863, 5866, 5875, 5879, 5892, 5902, 5907, 5912, 5920, 5941, 5956, 5961, 5964, 5972, 5980, 5987, 5997, 6002, 6014, 6017, 6020, 6023, 6026, 6032, 6035, 6042, 6047, 6057, 6069, 6074, 6077, 6084, 6088, 6100, 6109, 6118, 6126, 6134, 6140, 6150, 6154, 6157, 6160, 6169, 6172, 6175, 6181, 6189, 6194, 6204, 6237, 6248, 6272, 6276, 6280, 6288, 6304, 6310, 6319, 6341, 6362, 6369, 6375, 6380, 6383, 6387, 6391, 6396, 6402, 6406, 6411, 6416, 6421, 6430, 6443, 6454, 6460, 6470, 6476, 6482, 6487, 6496, 6501, 6509, 6522, 6533, 6544, 6552, 6560, 6564, 6572, 6579, 6586, 6596, 6600, 6605, 6608, 6611, 6614, 6619, 6624, 6628, 6632, 6638, 6641, 6645, 6648, 6654, 6659, 6662, 6666, 6670, 6675, 6679, 6682, 6691, 6701, 6711, 6714, 6724, 6729, 6732, 6735, 6739, 6745, 6751, 6754, 6757, 6760, 6767, 6770, 6782, 6793, 6796, 6799, 6804, 6817, 6826, 6839, 6850, 6855, 6859, 6869, 6873, 6877, 6880, 6883, 6890, 6896, 6899, 6903, 6907, 6911, 6915, 6921, 6923, 6926, 6929, 6932, 6934, 6938, 6941, 6944, 6946, 6956, 6959, 6962, 6965, 6967, 6977, 6979, 6982, 6991, 6994, 6998, 7002, 7006, 7009, 7012, 7015, 7018, 7027, 7030, 7034, 7037, 7040, 7042, 7045, 7055, 7058, 7085, 7090, 7107, 7118, 7127, 7144, 7148, 7186, 7200, 7206, 7212, 7223, 7232, 7243, 7264, 7270, 7277, 7281, 7298, 7307, 7314, 7325, 7328, 7340, 7347, 7353, 7359, 7365, 7380, 7392, 7409, 7419, 7423, 7428, 7434, 7441, 7447, 7457, 7464, 7488, 7493, 7503, 7509, 7515, 7519, 7535, 7556, 7559, 7561, 7568, 7577, 7589, 7597, 7605, 7616, 7625, 7637, 7652, 7665, 7675, 7684, 7695, 7718, 7724, 7728, 7734, 7740, 7746, 7757, 7765, 7784, 7790, 7793, 7796, 7799, 7802, 7805, 7813, 7821, 7825, 7829, 7836, 7840, 7852, 7860, 7868, 7878, 7882, 7890, 7894, 7903, 7911, 7915, 7919, 7923, 7927, 7931, 7935, 7943, 7946, 7956, 7964, 7971, 7974, 7977, 7983, 7986, 7991, 7996, 8001, 8006, 8010, 8016, 8020, 8024, 8027, 8031, 8035, 8040, 8044, 8047, 8055, 8060, 8070, 8074, 8080, 8084, 8089, 8094, 8099, 8102, 8114, 8117, 8121, 8125, 8128, 8138, 8148, 8150, 8154, 8163, 8174, 8179, 8183, 8187, 8193, 8201, 8208, 8217, 8221, 8225, 8230, 8250, 8258, 8267, 8275, 8282, 8292, 8299, 8315, 8336, 8339, 8344, 8354, 8358, 8362, 8366, 8369, 8386, 8396, 8402, 8407, 8412, 8418, 8424, 8428, 8440, 8444, 8453, 8457, 8479, 8509, 8527, 8544, 8554, 8571, 8577, 8583, 8605, 8610, 8614, 8621, 8632, 8639, 8653, 8662, 8684, 8690, 8713, 8725, 8758, 8779, 8793, 8808, 8825, 8832, 8846, 8850, 8856, 8868, 8884, 8902, 8925, 8945, 8979, 9017, 9049, 9075, 9090, 9111, 9136, 9157, 9166, 9174, 9189, 9198, 9207, 9215, 9228, 9246, 9261, 9281, 9294, 9305, 9318, 9329, 9342, 9352, 9359, 9365, 9374, 9391, 9411, 9423, 9439, 9457, 9514, 9541, 9568, 9590, 9607, 9621, 9630, 9651, 9684, 9776, 9817, 9826, 9843, 9863, 9878, 9903, 9920, 9923, 9926, 9931, 9951, 9956, 9961, 9968, 9977, 9983, 9992, 10003, 10016, 10027, 10043, 10065, 10078, 10094, 10104, 10111, 10123, 10130, 10143, 10151, 10163, 10170, 10177, 10184, 10194, 10205, 10219, 10228, 10236, 10246, 10252, 10262, 10281, 10290, 10302, 10308, 10321, 10332, 10342, 10353, 10363, 10373, 10396, 10406, 10420, 10433, 10440, 10447, 10467, 10474, 10481, 10502, 10514, 10525, 10532, 10537, 10551, 10560, 10570, 10583, 10600, 10608, 10617, 10630, 10637, 10646, 10659, 10669, 10681, 10692, 10702, 10711, 10723, 10732, 10748, 10758, 10768, 10789, 10798, 10810, 10820, 10827, 10837, 10848, 10857, 10868, 10880, 10890, 10900, 10912, 10921, 10928, 10941, 10952, 10967, 10974, 10988, 10996, 11017, 11047, 11051, 11062, 11066, 11071, 11078, 11091, 11097, 11100, 11106, 11109, 11117, 11121, 11124, 11128, 11131, 11134, 11137, 11144, 11150, 11155, 11159, 11163, 11168, 11173, 11180, 11186, 11193, 11199, 11205, 11209, 11214, 11218, 11224, 11229, 11235, 11242, 11252, 11258, 11263, 11268, 11279, 11285, 11290, 11295, 11300, 11305, 11310, 11315, 11320, 11325, 11330, 11335, 11340, 11345, 11350, 11357, 11365, 11372, 11378, 11384, 11400, 11413, 11421, 11427, 11434, 11440, 11444, 11448, 11455, 11459, 11463, 11467, 11474, 11480, 11484, 11490, 11495, 11500, 11505, 11511, 11515, 11524, 11537, 11548, 11554, 11563, 11575, 11589, 11595, 11602, 11608, 11613, 11619, 11623, 11627, 11631, 11635, 11639, 11646, 11652, 11656, 11664, 11670, 11678, 11683, 11687, 11692, 11696, 11703, 11714, 11726, 11736, 11747, 11752, 11761, 11765, 11769, 11773, 11777, 11784, 11792, 11800, 11811, 11819, 11834, 11847, 11851, 11856, 11866, 11880, 11892, 11904, 11916, 11920, 11924, 11929, 11934, 11937, 11942, 11947, 11950, 11959, 11964, 11969, 11972, 11975, 11982, 11986, 12008, 12013, 12022, 12027, 12036, 12041, 12046, 12054, 12069, 12080, 12091, 12104, 12120, 12133, 12141, 12152, 12158, 12166, 12176, 12181, 12187, 12224, 12236, 12254, 12261, 12283, 12296, 12306, 12316, 12329, 12337, 12345, 12355, 12363, 12370, 12377, 12384, 12393, 12400, 12407, 12412, 12418, 12423, 12428, 12440, 12445, 12459, 12463, 12473, 12484, 12495, 12505, 12512, 12519, 12527, 12535, 12543, 12548, 12553, 12565, 12571, 12579, 12588, 12600, 12606, 12616, 12629, 12635, 12643, 12651, 12658, 12667, 12675, 12689, 12697, 12708, 12727, 12736, 12745, 12752, 12761, 12772, 12785, 12794, 12799, 12811, 12824, 12838, 12846, 12850, 12869, 12887, 12890, 12902, 12907, 12912, 12916, 12920, 12931, 12939, 12945, 12950, 12954, 12968, 12980, 12991, 13005, 13017, 13028, 13032, 13049, 13052, 13062, 13066, 13076, 13092, 13103, 13106, 13113, 13116, 13120, 13124, 13128, 13132, 13135, 13137, 13149, 13151, 13160, 13165, 13170, 13186, 13199, 13205, 13212, 13218, 13222, 13225, 13228, 13254, 13261, 13268, 13274, 13280, 13287, 13294, 13310, 13320, 13333, 13340, 13358, 13368, 13376, 13384, 13386, 13392, 13399, 13403, 13409, 13414, 13419, 13427, 13430, 13436, 13443, 13448, 13461, 13464, 13467, 13470, 13476, 13481, 13491, 13499, 13506, 13518, 13533, 13549, 13563, 13577, 13591, 13609, 13624, 13634, 13638, 13646, 13658, 13670, 13680, 13686, 13694, 13699, 13704, 13708, 13712, 13723, 13731, 13737, 13742, 13746, 13760, 13772, 13783, 13797, 13809, 13820, 13824, 13829, 13844, 13848, 13859, 13863, 13873, 13889, 13900, 13906, 13910, 13914, 13918, 13922, 13925, 13938, 13948, 13953, 13958, 13974, 13987, 13993, 14000, 14006, 14038, 14045, 14052, 14058, 14064, 14071, 14078, 14095, 14105, 14118, 14125, 14137, 14146, 14158, 14160, 14164, 14169, 14172, 14174, 14179, 14181, 14183, 14185, 14189, 14193, 14203, 14205, 14208, 14210, 14217, 14219, 14230, 14248, 14255, 14271, 14281, 14288, 14298, 14314, 14319, 14332, 14340, 14345, 14353, 14358, 14361, 14365, 14369, 14373, 14377, 14381, 14385, 14389, 14393, 14397, 14401, 14404, 14408, 14417, 14422, 14427, 14434, 14441, 14444, 14447, 14458, 14464, 14468, 14472, 14476, 14480, 14484, 14488, 14492, 14496, 14505, 14513, 14521, 14529, 14546, 14551, 14556, 14561, 14564, 14575, 14579, 14601, 14617, 14632, 14638, 14642, 14646, 14653, 14658, 14663, 14671, 14684, 14691, 14702, 14711, 14723, 14728, 14732, 14739, 14749, 14755, 14762, 14770, 14772, 14777, 14783, 14787, 14793, 14803, 14811, 14816, 14819, 14825, 14832, 14837, 14841, 14845, 14850, 14854, 14859, 14863, 14866, 14871, 14876, 14885, 14895, 14919, 14925, 14931, 14934, 14937, 14940, 14944, 14947, 14950, 14959, 14963, 14966, 14977, 14980, 14993, 15000, 15005, 15009, 15014, 15021, 15029, 15046, 15052, 15064, 15067, 15070, 15087, 15105, 15123, 15132, 15139, 15151, 15166, 15173, 15179, 15184, 15188, 15201, 15220, 15232, 15269, 15301, 15305, 15309, 15313, 15317, 15321, 15325, 15329, 15332, 15336, 15339, 15352, 15356, 15360, 15363, 15387, 15395, 15402, 15405, 15410, 15416, 15422, 15427, 15430, 15440, 15450, 15461, 15467, 15474, 15480, 15488, 15500, 15512, 15526, 15535, 15542, 15548, 15554, 15567, 15582, 15592, 15598, 15611, 15620, 15635, 15644, 15653, 15658, 15662, 15665, 15668, 15675, 15682, 15689, 15693, 15699, 15704, 15710, 15720, 15729, 15740, 15754, 15760, 15770, 15777, 15784, 15788, 15794, 15798, 15805, 15814, 15822, 15830, 15834, 15846, 15853, 15860, 15867, 15876, 15880, 15885, 15893, 15896, 15904, 15912, 15916, 15925, 15931, 15940, 15949, 15965, 15975, 15979, 15982, 15988, 15995, 16003, 16014, 16029, 16045, 16054, 16066, 16078, 16085, 16092, 16098, 16104, 16116, 16124, 16133, 16146, 16160, 16174, 16180, 16183, 16189, 16193, 16197, 16200, 16203, 16206, 16211, 16214, 16224, 16227, 16241, 16244, 16247, 16250, 16269, 16273, 16276, 16278, 16282, 16286, 16289, 16296, 16304, 16310, 16314, 16317, 16327, 16332, 16338, 16345, 16376, 16382, 16391, 16401, 16407, 16413, 16416, 16419, 16425, 16431, 16437, 16444, 16452, 16455, 16458, 16461, 16464, 16468, 16472, 16475, 16478, 16481, 16484, 16487, 16491, 16495, 16499, 16502, 16505, 16509, 16513, 16517, 16521, 16525, 16529, 16533, 16537, 16540, 16543, 16546, 16549, 16552, 16556, 16559, 16562, 16566, 16569, 16572, 16575, 16578, 16581, 16584, 16588, 16592, 16596, 16599, 16602, 16605, 16608, 16611, 16614, 16618, 16621, 16625, 16629, 16632, 16639, 16653, 16669, 16675, 16686, 16697, 16704, 16712, 16721, 16739, 16759, 16777, 16792, 16803, 16810, 16821, 16826, 16832, 16837, 16842, 16848, 16853, 16856, 16863, 16867, 16871, 16874, 16877, 16880, 16883, 16887, 16894, 16899, 16902, 16906, 16911, 16915, 16918, 16925, 16928, 16936, 16939, 16942, 16946, 16955, 16958, 16965, 16968, 16973, 16979, 16982, 16986, 16989, 16993, 16998, 17003, 17007, 17012, 17017, 17025, 17033, 17045, 17052, 17058, 17063, 17073, 17083, 17090, 17096, 17102, 17111, 17118, 17122, 17126, 17133, 17140, 17143, 17147, 17150, 17157, 17160, 17163, 17167, 17170, 17173, 17176, 17183, 17186, 17193, 17196, 17199, 17202, 17207, 17211, 17220, 17223, 17226, 17229, 17233, 17237, 17242, 17245, 17257, 17268, 17278, 17283, 17291, 17297, 17303, 17309, 17314, 17328, 17339, 17342, 17345, 17348, 17351, 17354, 17361, 17366, 17370, 17373, 17377, 17381, 17391, 17395, 17398, 17410, 17422, 17425, 17429, 17433, 17439, 17445, 17448, 17452, 17456, 17460, 17465, 17469, 17475, 17478, 17481, 17484, 17487, 17490, 17493, 17496, 17499, 17502, 17507, 17512, 17517, 17522, 17526, 17530, 17534, 17537, 17541, 17546, 17550, 17554, 17559, 17566, 17573, 17580, 17584, 17588, 17591, 17594, 17597, 17600, 17605, 17610, 17614, 17618, 17621, 17629, 17633, 17638, 17641, 17644, 17652, 17657, 17662, 17665, 17668, 17671, 17675, 17678, 17684, 17687, 17690, 17693, 17696, 17699, 17702, 17705, 17708, 17711, 17714, 17717, 17720, 17729, 17733, 17737, 17741, 17745, 17749, 17753, 17757, 17761, 17765, 17768, 17772, 17776, 17780, 17791, 17794, 17797, 17800, 17803, 17806, 17809, 17813, 17816, 17819, 17822, 17825, 17828, 17831, 17834, 17837, 17840, 17843, 17846, 17849, 17858, 17861, 17879, 17888, 17891, 17894, 17901, 17909, 17913, 17917, 17921, 17934, 17936, 17943, 17947, 17951, 17955, 17967, 17971, 17976, 17979, 17986, 17990, 17993, 17997, 18003, 18009, 18015, 18029, 18035, 18042, 18059, 18066, 18081, 18086, 18092, 18099, 18106, 18113, 18120, 18127, 18134, 18141, 18146, 18151, 18158, 18161, 18164, 18170, 18176, 18179, 18203, 18211, 18218, 18221, 18226, 18232, 18238, 18243, 18246, 18256, 18266, 18277, 18283, 18290, 18296, 18304, 18316, 18328, 18342, 18351, 18358, 18364, 18370, 18383, 18398, 18408, 18414, 18427, 18436, 18451, 18460, 18469, 18474, 18478, 18481, 18484, 18491, 18498, 18505, 18509, 18515, 18520, 18526, 18536, 18545, 18556, 18570, 18576, 18586, 18593, 18600, 18604, 18610, 18614, 18621, 18630, 18638, 18646, 18650, 18662, 18669, 18676, 18683, 18692, 18696, 18701, 18709, 18712, 18720, 18728, 18732, 18741, 18747, 18756, 18765, 18781, 18791, 18795, 18798, 18804, 18811, 18819, 18830, 18845, 18861, 18870, 18882, 18894, 18901, 18908, 18914, 18920, 18932, 18940, 18949, 18962, 18976, 18993, 19006, 19013, 19020, 19030, 19038, 19049, 19059, 19069, 19076, 19082, 19088, 19094, 19099, 19106, 19118, 19123, 19128, 19134, 19142, 19149, 19154, 19159, 19165, 19169, 19177, 19181, 19188, 19192, 19197, 19202, 19207, 19211, 19221, 19226, 19233, 19239, 19249, 19262, 19270, 19278, 19287, 19300, 19305, 19310, 19316, 19333, 19341, 19345, 19351, 19358, 19362, 19367, 19378, 19383, 19389, 19393, 19406, 19414, 19464, 19470, 19477, 19497, 19508, 19516, 19521, 19527, 19531, 19539, 19548, 19553, 19561, 19564, 19567, 19582, 19589, 19598, 19607, 19612, 19624, 19636, 19657, 19665, 19669, 19674, 19679, 19685, 19690, 19697, 19707, 19726, 19737, 19747, 19755, 19761, 19764, 19769, 19773, 19779, 19783, 19788, 19792, 19808, 19815, 19831, 19841, 19848, 19858, 19874, 19879, 19892, 19900, 19905, 19913, 19918, 19921, 19925, 19929, 19933, 19937, 19941, 19945, 19949, 19953, 19957, 19961, 19964, 19973, 19978, 19983, 19990, 19997, 20000, 20003, 20014, 20020, 20024, 20028, 20032, 20036, 20040, 20044, 20048, 20052, 20061, 20069, 20077, 20085, 20102, 20107, 20112, 20117, 20120, 20131, 20135, 20157, 20173, 20188, 20194, 20198, 20202, 20209, 20214, 20219, 20227, 20240, 20247, 20258, 20267, 20279, 20284, 20288, 20295, 20305, 20311, 20318, 20326, 20328, 20333, 20339, 20343, 20349, 20359, 20367, 20372, 20375, 20381, 20388, 20393, 20397, 20401, 20406, 20410, 20415, 20419, 20422, 20427, 20432, 20441, 20444, 20468, 20476, 20483, 20486, 20491, 20497, 20503, 20508, 20511, 20521, 20531, 20542, 20548, 20555, 20561, 20569, 20581, 20593, 20607, 20616, 20623, 20629, 20635, 20648, 20663, 20673, 20679, 20692, 20701, 20716, 20725, 20734, 20739, 20743, 20746, 20749, 20756, 20763, 20770, 20774, 20780, 20785, 20791, 20801, 20810, 20821, 20835, 20841, 20851, 20858, 20865, 20869, 20875, 20879, 20886, 20895, 20903, 20911, 20915, 20927, 20934, 20941, 20948, 20957, 20961, 20966, 20974, 20977, 20985, 20993, 20997, 21006, 21012, 21021, 21030, 21046, 21056, 21060, 21063, 21069, 21076, 21084, 21095, 21110, 21126, 21135, 21147, 21159, 21166, 21173, 21179, 21185, 21197, 21205, 21214, 21227, 21241, 21255, 21261, 21264, 21270, 21274, 21278, 21281, 21284, 21287, 21292, 21295, 21305, 21308, 21322, 21325, 21328, 21331, 21350, 21354, 21357, 21359, 21363, 21367, 21370, 21377, 21385, 21391, 21395, 21398, 21408, 21413, 21419, 21426, 21457, 21463, 21472, 21482, 21488, 21494, 21497, 21500, 21506, 21512, 21518, 21525, 21533, 21536, 21539, 21542, 21545, 21549, 21553, 21556, 21559, 21562, 21565, 21568, 21572, 21576, 21580, 21583, 21586, 21590, 21594, 21598, 21602, 21606, 21610, 21614, 21618, 21621, 21624, 21627, 21630, 21633, 21637, 21640, 21643, 21647, 21650, 21653, 21656, 21659, 21662, 21665, 21669, 21673, 21677, 21680, 21683, 21686, 21689, 21692, 21695, 21699, 21702, 21706, 21710, 21713, 21720, 21734, 21750, 21756, 21767, 21778, 21785, 21793, 21802, 21820, 21840, 21858, 21873, 21884, 21891, 21902, 21909, 21914, 21926, 21929, 21932, 21935, 21938, 21944, 21947, 21954, 21959, 21969, 21981, 21986, 21989, 21996, 22000, 22012, 22021, 22030, 22038, 22046, 22052, 22062, 22066, 22069, 22072, 22107, 22110, 22113, 22119, 22127, 22132, 22142, 22175, 22186, 22222, 22226, 22230, 22238, 22254, 22263, 22272, 22294, 22316, 22324, 22331, 22335, 22338, 22350, 22408, 22457, 22486, 22522, 22539, 22563, 22586, 22602, 22616, 22631, 22670, 22701, 22742, 22766, 22802, 22839, 22851, 22879, 22909, 22934, 22945, 22954, 22963, 22975, 22983, 22994, 23002, 23015, 23021, 23032, 23041, 23052, 23058, 23062, 23066, 23082, 23088, 23101, 23107, 23116, 23124, 23131, 23138, 23141, 23147, 23154, 23157, 23162, 23168, 23171, 23178, 23195, 23203, 23214, 23222, 23230, 23235, 23239, 23244, 23252, 23262, 23272, 23291, 23304, 23334, 23340, 23355, 23361, 23369, 23384, 23394, 23411, 23425, 23435, 23442, 23457, 23465, 23476, 23483, 23495, 23505, 23511, 23519, 23532, 23541, 23565, 23574, 23583, 23592, 23600, 23603, 23613, 23623, 23627, 23631, 23637, 23640, 23644, 23650, 23654, 23659, 23662, 23666, 23675, 23688, 23701, 23715, 23722, 23736, 23739, 23753, 23761, 23766, 23770, 23774, 23783, 23788, 23797, 23803, 23812, 23821, 23824, 23833, 23841, 23848, 23856, 23861, 23867, 23874, 23878, 23890, 23899, 23907, 23921, 23930, 23940, 23944, 23955, 23962, 23970, 23979, 23991, 24001, 24013, 24025, 24032, 24039, 24043, 24046, 

In [ ]:
#Writing question and code to a list and appending them to the list of lists.
for i in range(len(textlines)):
  text = lines[textlines[i]]
  text = text.lstrip('#').strip()
  if (i < len(textlines) - 1):
    code = ''.join(lines[textlines[i]+1 : textlines[i+1]])
  else:
    code = ''.join(lines[textlines[i]+1 : ])
  if code != "":
    data.append([text,code])

In [ ]:
len(data)

4326

In [ ]:
data[3]

['write a program to find and print the largest among three numbers',
 "num1 = 10\nnum2 = 12\nnum3 = 14\nif (num1 >= num2) and (num1 >= num3):\n   largest = num1\nelif (num2 >= num1) and (num2 >= num3):\n   largest = num2\nelse:\n   largest = num3\nprint(f'largest:{largest}')\n"]

In [ ]:
import csv

with open('TexttoPython.csv', 'w') as f:
  write = csv.writer(f, delimiter=',')
  write.writerows(data)

In [ ]:
import pandas as pd 
df = pd.read_csv("TexttoPython.csv") 
print(df.head())

                                                text                                         sourcecode
0          write a python program to add two numbers  num1 = 1.5\nnum2 = 6.3\nsum = num1 + num2\npri...
1  write a python function to add two user provid...  def add_two_numbers(num1, num2):\n    sum = nu...
2  write a program to find and print the largest ...  num1 = 10\nnum2 = 12\nnum3 = 14\nif (num1 >= n...
3  write a program to find and print the smallest...  num1 = 10\nnum2 = 12\nnum3 = 14\nif (num1 <= n...
4  Write a python function to merge two given lis...     def merge_lists(l1, l2):\n    return l1 + l2\n

In [ ]:
df.shape

(4325, 2)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4325 entries, 0 to 4324
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   text        4325 non-null   object
 1   sourcecode  4325 non-null   object
dtypes: object(2)
memory usage: 67.7+ KB

In [ ]:
df['text_length'] = df['text'].apply(len)
df['code_length'] = df['sourcecode'].apply(len)

In [ ]:
df.describe()

       text_length  code_length
count  4325.000000  4325.000000
mean     74.426127   175.960000
std      31.725886   198.608009
min      23.000000    10.000000
25%      54.000000    78.000000
50%      68.000000   129.000000
75%      87.000000   215.000000
max     309.000000  7199.000000

In [ ]:
df[df['code_length'] > 1000].shape

(26, 4)

In [ ]:
df[df['code_length']<20]

                                                   text  ... code_length
906                13 how to add a blank line in python  ...          10
918                 25 print binary of a decimal number  ...          18
1075      Write a program to swap two variables inplace  ...          10
1701                    display the unpunctuated string  ...          16
1789                    Convert decimal number to octal  ...          19
2626                    Convert decimal number to octal  ...          19
3185      Write a program to swap two variables inplace  ...          10
3318        write a python program to delete a variable  ...          13
3319  write a python program to perform multiple ass...  ...          14
3331      write a python program to create a raw string  ...          18
3589               13 how to add a blank line in python  ...          10
3601                25 print binary of a decimal number  ...          18
3765  Please write a program to print Python built-i...  ...          19
3766  Please write a program to print Python built-i...  ...          19
3958                    Convert decimal number to octal  ...          19

[15 rows x 4 columns]

In [ ]:
df[df['code_length']<20].shape

(15, 4)

#### Observations 
* There are 9 source codes whose source_code lengths are very big. Decided to remove them.
* There are nearly 15 source codes in the corpus whose length is less than 20 characters. when examined manually, they are found meaningful.

In [ ]:
df.drop(df[df['code_length'] > 1000].index, inplace = True) 
df.shape

(4299, 4)

In [ ]:
df.describe()

       text_length  code_length
count  4299.000000  4299.000000
mean     74.481042   167.029542
std      31.772111   131.600297
min      23.000000    10.000000
25%      54.000000    78.000000
50%      68.000000   128.000000
75%      87.000000   213.500000
max     309.000000   963.000000

In [ ]:
df.head()

                                                text  ... code_length
0          write a python program to add two numbers  ...          61
1  write a python function to add two user provid...  ...          70
2  write a program to find and print the largest ...  ...         196
3  write a program to find and print the smallest...  ...         201
4  Write a python function to merge two given lis...  ...          44

[5 rows x 4 columns]

In [ ]:
df.shape[0]

4299

In [ ]:
df.text[10], df.sourcecode[10]

('Write a python function to print powers of 2, for given number of terms',
 'def two_power(terms):\n    result = list(map(lambda x: 2 ** x, range(terms)))\n    print(f"The total terms are: {terms}")\n    for i in range(terms):\n       print(f"2^{i} = {result[i]}")\n')

In [ ]:
df.to_csv('TexttoPython2.csv', index=False)